@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

body {
  font-family: 'Heuristica', serif;
  font-size: 18px;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: 'Heuristica', serif;
}